body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
    text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

/* container */
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
/* header */
header {
    width: 100%;
    padding: 5px 0;
    background: #daac00;
    position: absolute;
}
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img {
    height: 110px;
    width: auto;
}
/* navigation */
.nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21pt;
    
}
.nav-item {
    padding: 15px;
    color: #fff;
    border-radius: 30px;
    
    transition: background .3s linear;
}

.nav-item:hover {
    color: #00bec9;
    background: #fcc302;
}
/*main*/
main {
    display: flex;
    background: #fcc302;
    background-size: cover;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.main-text {
    align-self: center;
}
.main-intro {
    margin-bottom: 35px;
}
.main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50pt;
    color: #fff;
}
.main-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24pt;
    color: #fff;
}

/*button*/
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17pt;
    padding: 25px;
    border: 0px;
    border-radius: 15px;
    transition: background .3s linear;
}
#btn-contact {
    margin-right: 35px;
    color: #fff;
    background-color: #00bec9;
}
#btn-contact:hover {
    color: #000;
    background: #fff;
}
#btn-service:hover {
    color: #000;
    background: #fff;
}
#btn-service {
    color: #fff;
    border: 1px solid #fff;
    background: #fcc302;
}

/* about */
.about {
    margin: 220px 0;
}
.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px,1fr));
   
}
.about-text {
    align-self: center;
    
}
.about-title {
    color: #313243;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50pt;
    
}
.about-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 28pt;
}
.about-images {
    align-self: center;
    
}
.about-item {
    width: 506px;
    background: #fcc302;
    

}

.about-img {
   
    display: block;
    transform: translate3d(25px,-25px,0);
}
/*services*/
.services {
    background: #fcc302;
    color: #fff;
    padding: 100px 0;
}
.service-container {

}
.services-text {
    text-align: center;
}
.services-title {
    color: #fff;
    font-size: 50pt;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}
.services-info {
    color: #fff;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
}
.services-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
    gap: 40px;
    margin: 90px 0 0 0;
}
.services-count {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.services-img {
    border: 7px solid #fff;
    
}
.services-type-title {
    text-align: center;
    font-weight: 500;
    font-size: 30pt;
    margin: 25px 0;
}
.services-type-text {
    text-align: center;
}
/*approach*/
.approach-container {
    display: grid;
    padding: 220px 0;
    grid-template-columns: repeat(auto-fill, minmax(550px,1fr));
}
#approach-dog{
    transform: translate3d(-25px,-25px,0);
}
/*team*/
.team {
    color: #fff;
    background: #fcc302;
    padding: 140px 0 130px 0;
}

.up {
    text-transform: uppercase;
    font-size: 17pt;
}
.team-social{
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
.team-item {
    border-radius: 20px;
    
    color: #fff;
    font-size: 25pt;
    padding: 10px;
    transition: font-size .2s linear;
    
}
.team-item:hover {
    background-color: #313243;
    font-size: 35pt;
}
/*information*/
.information {}